/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Fallbacks */
body {
    font-family: sans-serif;
}

/* Body Styling */
body {
    background: blueviolet;
    color: black;
}

/* Search Box Styling */
.search-box {
    width: 500px;
    background: rgb(231, 222, 231);
    margin: 250px auto 0;
    border-radius: 6px;
}

.row {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

/* Input Styling */
input {
    flex: 1;
    height: 60px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: rgb(17, 17, 17);
    ::placeholder {
        color: rgb(102, 66, 244);
    }
}

/* Button Styling */
button {
    background: transparent;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.2s;
}

button .fa-solid {
    width: 30px;
    color: rgb(35, 34, 33);
    font-size: 30px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Result Box Styling */
.result-box {
    max-height: 400px;
    overflow: scroll;
}

.result-box ul {
    border-top: 1px solid;
    padding: 15px 15px;
}

.result-box ul li {
    list-style: none;
    border-radius: 5px;
    padding: 15px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.result-box ul li:hover {
    background: blanchedalmond;
}

/* Search Button Styling */
#searchButton {
    max-height: 500px;
    color: black;
}
